<%= render 'spree/admin/shared/ad_sub_menu' %>

<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t("static_content.new_ad"), new_object_url, :icon => 'icon-plus', :id => 'admin_new_ad' %></li>
<% end %>

<% content_for :page_title do %>
  <% if params[:from].present? %>
    <%= Spree.t("static_content.#{params[:from]}_ads") %>
  <% else %>
    <%= Spree.t("static_content.ads") %>
  <% end %>
<% end %>

<% if @ads.any? %>
  <% if params[:from] != "taxons" %>
    <%= render partial: 'ads_table', locals: { ads: @ads } %>
  <% else %>
    <% @ads.each do |taxon, ads| %>
      <h6><%= taxon.name %></h6>
      <%= render partial: 'ads_table', locals: { ads: ads } %>
    <% end %>
  <% end %>
<% else %>
  <div class="alpha twelve columns no-objects-found">
    <%= Spree.t(:no_resource_found, resource: I18n.t(:other, scope: 'activerecord.models.spree/ad')) %>,
    <%= link_to Spree.t(:add_one), spree.new_admin_ad_path %>!
  </div>
<% end %>
